<div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
<div class="side-nav">
    <div class="side-nav-block">
        <!-- Sidebar heading -->
        <!-- Sidebar links -->
        <ul class="list-unstyled">
            <li><a href="{{ @ADMIN_URL }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ @ADMIN_URL }}users-update"><i class="fa fa-user"></i> Update Profile</a></li>
            <li><a href="{{ @ADMIN_URL }}logout"><i class="fa fa-power-off"></i> Log Out</a></li>
            <li>&nbsp;</li>


            <!-- Mainmenu with submenu -->
            <li class="has_submenu">
                <a href="#"><i class="fa fa-th-large"></i> More.. <span class="nav-caret fa fa-caret-down"></span></a>
                <!-- Submenu -->
                <ul class="list-unstyled">

                    <repeat group="{{ @sidebar }}" value="{{ @file }}" counter="{{ @cnt }}">
                        <li><a href="{{ @ADMIN_URL }}{{@file}}"><i class="fa fa-angle-double-right"></i> {{ucwords(@file)}}</a></li>
                    </repeat>

                </ul>
            </li>

        </ul>
    </div>

</div>
